@charset "utf-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: gray;
    height: 70px;
    width: 100%;
}

.menu{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu ul{
    list-style-type: none;
    display: flex;
    gap:20px;
    font-size: 20px;
}

.menu p{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.menu a{
    text-decoration: none;
    color:white;
    transition: all .5s;
}

.menu a:hover{
    text-decoration: underline;
    color:yellow;
}

#menu-items{
   
}

#hamburguer{
    display: none;  
}

.menu p{
    font-size: 24px;
}

.menu{
    height: 50px;
}

body{
    background-color: aliceblue;
}

/* Main */

main{
    background-color: white;
    width: 75%;
    margin:0 auto;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
    padding:3%;
}


#img-fundo img{
    border-radius: 20px;
    position: relative;
    left:20%;
    top:5%;
}

.introducao-text::first-letter{
   font-size: 28px;
}

.def-prof{
    display: flex;
    gap:2%;
    align-items: center;
    background: yellow;
}

.def-prof > p{
    color:rgb(134, 131, 131)
}

#Fari{
    gap:20%;
}
.def{
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13.5px);
    border-radius:7px;
    height: 60px;
    box-shadow:  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    color:rgb(80, 76, 76);

}

@media(max-width:800px) {
    #hamburguer{
        display: block;
    }

    #hamburguer:hover{
        color:red;
    }

    .menu ul{
        display: none;
    }
}