.conteiner{
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;

    padding: 16px;
    background-color: #f9eac3;
   

}

.bloco-1{
    background-color: aqua;
    /* height: 50px;
    width: 50px; */
    border-radius: 5px;
    padding: 10px;
    order:0;
    flex: 0 1 auto;
}

.bloco-2{
    background-color: rgba(247, 0, 255, 0.548);
    /* height: 50px;
    width: 50px; */
    border-radius: 5px;
    padding: 10px;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    
}

.bloco-3{
    background-color: rgb(255, 0, 0);
    /* height: 50px;
    width: 50px; */
    border-radius: 5px;
    padding: 10px;  
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}


